
.jobsText > p:first-child {
   font-size: 5rem;
   margin-top: 0;
   margin-bottom: 0;
   color: rgb(228, 228, 228);
}

.jobsText {
    padding-left: 2.5rem;
    height: 15vh;
}

.jobsText > p:last-child {
    position: relative;
    bottom: 5.3rem;
    left: .5rem;
    color: grey; 
    font-size: 1.3rem;   
    margin-bottom: 0;
    font-weight: 500;
}

.jobsList {
    padding-left: 2.2rem;
}

